[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
deepface = "*"
tf-keras = "*"
pymongo = "*"
schedule = "*"
tomli = "*"
dill = "*"
pytest = "*"

[dev-packages]

[scripts]
test = "pytest"

[requires]
python_version = ">=3.10"
