<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Capture and Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <h1>Capture an Image</h1>
    <div class="wrapper">
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap" class="capture-button" >Capture</button>
    </div>
    <canvas id="canvas" width="640" height="480"></canvas>
    <div>
    <button id="upload" class="upload-event-button" >Upload Image</button>
    <a href="/gallery"><button class="gallery-event-button">Go to Gallery</button></a>
    </div>

    <script>
        'use strict';

        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const snap = document.getElementById('snap');
        const errorMsgElement = document.querySelector('span#errorMsg');

        const constraints = {
            audio: false,
            video: {
                width: 640, height: 480
            }
        };

        // access webcam
        async function init() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia(constraints);
                handleSuccess(stream);
            } catch (e) {
                errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
            }
        }

        // success
        function handleSuccess(stream) {
            window.stream = stream;
            video.srcObject = stream;
        }

        // load init
        init();

        // draw image
        var context = canvas.getContext('2d');
        snap.addEventListener("click", function () {
            context.drawImage(video, 0, 0, 640, 480);
        });

        // upload image
        document.getElementById('upload').addEventListener('click', function () {
            canvas.toBlob(function (blob) {
                let formData = new FormData();
                formData.append('image', blob, 'webcam.jpg');
                fetch('/', {
                    method: 'POST',
                    body: formData,
                }).then(response => response.json()).then(data => {
                    console.log(data);
                }).catch(console.error);
            }, 'image/jpeg');
        });
    </script>
</body>

</html>